!  __  ___ __ ___  ___  ___  _   _ _ __ ___ ___  ___ 
!  \ \/ / '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
! _ >  <| | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \
!(_)_/\_\_|  \___||___/\___/ \__,_|_|  \___\___||___/
!                                                    
!## Colors
!#include ".config/colors/default-dark"
!#include ".config/colors/gotham-dark"
!#include ".config/colors/grayscale-dark"
!#include ".config/colors/grayscale-light"
!#include ".config/colors/monochrome-light"
!#include ".config/colors/mono-light"
!#include ".config/colors/shiro-dark"
!#include ".config/colors/white-light"
!
*foreground: rgb:aa/aa/aa
*background: rgb:00/00/00
*color0:     rgb:30/34/30
*color1:     rgb:bf/79/79
*color2:     rgb:97/b2/6b
*color3:     rgb:cd/cd/c1
*color4:     rgb:86/a2/be
*color5:     rgb:d9/b7/98
*color6:     rgb:a1/b5/cd
*color7:     rgb:ff/ff/ff
*color8:     rgb:cd/b5/cd
*color9:     rgb:f4/a4/5f
*color10:    rgb:c5/f7/79
*color11:    rgb:ff/ff/ef
*color12:    rgb:98/af/d9
*color13:    rgb:d7/d9/98
*color14:    rgb:a1/b5/cd
*color15:    rgb:de/de/de
!##xterm
xterm*faceName: iosevka-term:size=10:antialias=false
xterm*font: 7x13
xterm*faceSize: 10
xterm*dynamicColors: true
xterm.geometry: 29x13+0+0
xterm*eightBitInput: true
xterm*saveLines: 512
xterm*scrollKey: true
xterm*scrollTtyOutput: true
xterm*scrollBar: false
xterm*rightScrollBar: false
xterm*jumpScroll: false
xterm*multiScroll: true
xterm*toolBar: false
XTerm*locale: true
!*foreground: #7a7a7a
!## teh URxvt stuff
URxvt.font : -*-fixed-*-*-*-12-*-*-*-*-*-*-*
URxvt.iconFile:    /usr/share/icons/Clarity/scalable/apps/terminal.svg
URxvt.perl-ext-common:  default,tabbedex,clipboard
URxvt.url-launcher:      /usr/bin/firefox
URxvt.matcher.button:   1
URxvt.keysym.C-Delete:  perl:matcher:last
URxvt.keysym.M-Delete:  perl:matcher:list
URxvt.colorUL: #4682B4
urxvt.geometry:          154x115
URxvt.borderless:        true
urxvt*scrollBar:         false
URxvt.scrollBar_right : False
URxvt.scrollBar_floating : False
URxvt.scrollstyle : plain
URxvt*color12: rgb:5c/5c/ff
!## teh transparency stuff
URxvt.inheritPixmap: true
URxvt.tintColor: white
URxvt.shading: 40
URxvt.background: #191919
URxvt.foreground: #7a7a7a
URxvt*highlightColor:        #cb4b16   
URxvt*highlightTextColor:    #000000        
!## teh dpi stuff
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.autohint: 0
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
xft:Primary:style=Book:size=8,xft:Droid Sans Fallback:style=Regular,    
!## rofi
rofi.opacity: 85
rofi.width: 1024
rofi.lines: 7
rofi.columns: 4 
rofi.font: PragmataPro 10
rofi.bw: 1
rofi.color-enabled: true
rofi.color-window: #191919, #cb4b16, #268bd2
rofi.color-normal: #191919, #7a7a7a, #191919, #268bd2, #ffffff
rofi.color-active: #191919, #268bd2, #191919, #cb4b16, #268bd2
rofi.color-urgent: #393939, #f3843d, #393939, #268bd2, #ffc39c
rofi.location: 6
rofi.padding: 2
rofi.yoffset: -50
rofi.xoffset: 0
rofi.fixed-num-lines: true
rofi.hmode: false
rofi.terminal: termite
rofi.ssh-set-title: true
rofi.disable-history: false
